.btn{
  margin-left: 2rem;
}
.btn button{
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.btn button:first-child{
border-radius: 1.5rem 0 0 1.5rem;
}
.btn button:last-child{
border-radius:0 1.5rem 1.5rem 0;
}
.btn button:hover{
  background-color: yellow;
}