*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.421);
}

.menu{
    display: flex;
    align-items: center;
}
.menu h3{
    background: yellow;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    color: #000;
    font-weight: 20px;
}
.menu a{
    text-decoration: none;
   
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
}
.input input{
    width: 600px;
    height: 35px;
    background-color: #fff;
    color: #000;
    border: none;
}
.input button{
   
    padding: 6px;
    background-color: #fff;
    color: #000;

    border-radius: 8px 0 0 8px;
   
}

.input a{
    border-radius:  0 8px 8px 0;
    background-color: #fff;
    color: #000;
    height: 36px;
    padding: 7px;
}

