* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.slider-container {
    margin-bottom: 3rem;
    position: relative;
  }

/* .slick-arrow{
  background: none;
} */
.slick-prev{
    background:none !important;
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 10;
  }
.slick-prev:before{
    font-size: 35px;
  }
.slick-next{
    background: none !important;
    position: absolute;
    top: 200px;
    right: 40px;
  }
.slick-next:before{
    font-size: 35px;
}
  
  
.slide-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;

  }
  
  .slide-image h3 {
    color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1rem;
  }
  
